
<ng-container *ngIf="!userInserted else mapTemp">
  <div class="background-map">
  <div class="flex paddingTop">
  <input #nameInput type="text" class="input-primary" placeholder="User Name"/>
  <div class="chooseType">
  <div class="title">Role: </div>
  <div class="btn-group mr-2 cusSelect" role="group" #typeInput aria-label="First group">
      <button type="button" class="btn btn-success">Guide</button>
      <button type="button" class="btn btn-success">Normal</button>
    </div>
  </div>
  <button class="btn btn-primary" (click)="createUser(nameInput.value, typeInput.value)">Join to group <span class="arrow">➞</span></button>
</div>
</div>
</ng-container>

<ng-template #mapTemp>
    <app-map-view></app-map-view>
</ng-template>
