.paddingTop{
    padding-top: 40px;
}
.title{
    margin-top:20px;
    font-size:1.1em;
    font-weight: 800;
}
.chooseType{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width:100%;
}
.btn-warning{
    background-color: #FF7100!important;
}
.cusSelect{
    margin-left:20px;
    margin-top:20px;
    margin-bottom: 20px;
}
.floating {
    position: fixed;
    z-index: 999;
    bottom: 20px;
    left: 20px;
    color: #fff;
    width: 40px;
    height:40px;
    border-radius:50%;
    background-color: #FF7100;
    -webkit-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.12);
    -moz-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.12);
    box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.12);
}

.error-class{
    width: 100%;
    height: auto;
    max-width: 500px;
    width:80%;
    word-break: break-all;
    margin-bottom: 20px;
}

.text-error{
    border: 2px solid #FF0000;
    color: #1a1a1a;
    font-size: 0.9;
    font-weight: bold;
    background-color: #ffb2b2;
    padding: 5px;
}
