<div class="background-map">
  <div class="flex" *ngIf="!formSaved else successTemp">
      <input #nameInput class="form-control" class="input-primary" type=text name="nameGroup" [(ngModel)]="groupName" placeholder="group name">
      <button class="btn btn-pr btn-primary" type="submit" (click)="onSave(nameInput.value)">Save</button>
      <button routerLink="/" routerLinkActive="active" class="btn btn-light" type="submit"><span class="arrow">⬅</span>Return</button>
  </div>
</div>
<ng-template #successTemp>
    <div>Group id: {{ groupId }}</div>
    <div>Link: {{ link }}</div>
    <a [routerLink]="['/groupview', groupId]">OPEN</a>
</ng-template>